
@{
    ViewData["Title"] = "VerEntregas";
}



<nav class="navbar  fixed-top navbar-expand navbar-dark row" style="background-color: black; box-sizing: content-box;">
    <div class="collapse navbar-collapse">

        <div class="col-lg-2" style="text-align:center">
            <a href="/Profesor/Index" class="nav-item active">
                <img src="~/images/logo blanco.png" alt="Logo ORACON" width="80px" height="65px" />
            </a>

        </div>
        <div class="col-lg-5" style="text-align:center">

            <div class="row">
                <div class="col-lg-3">
                    <a href="/Profesor/Index" style="color:white">CURSOS</a>

                </div>
                <div class="col-lg-3" style="text-align:center">

                </div>
                <div class="col-lg-3" style="text-align:center">

                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="row ">
                <div class="col-lg-7" style="color: white; align-items: center; align-content: center; text-align: center">
                    <label style="padding:0.2em; margin:0.2em;">Bienvenido, @ViewBag.ProfesorLogeado.nombres</label>
                </div>

                <div class="col-lg-5">
                    <form method="post" action="/Profesor/Logout">
                        <button class="btn" type="submit" style="color: white; background-color: #ff2f00;">CERRAR SESÍON</button>
                    </form>
                </div>

            </div>

        </div>


    </div>
</nav>


<h1 style="text-align:center;" class="display-4">Entregas</h1>
<br />

@if (ViewBag.Entregas.Count > 0)
{
    <div class="container">
        <table class="table">
            <thead style="background-color:black; color: white;">
                <tr>
                    <th>Estudiante</th>
                    <th>Fecha de entrega</th>
                    <th>Mensaje</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Entregas)
                {
                    <tr>
                        <td>@item.usuario.nombres @item.usuario.apellidos</td>
                        <td>@item.fechaEntrega</td>
                        <td>
                            @if (item.observacion == null)
                            {
                                <label>-- Sin mensaje --</label>
                            }
                            else
                            {
                                @item.observacion
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Descargar", "PDFDisplayTarea", "Profesor", new { idTarea = item.idTarea }, new { target = "_blank" })
                        </td>
                    </tr>
                }





            </tbody>
        </table>
    </div>

}
else
{

    <div class="row alert alert-warning" style="margin:0;padding:0; text-align:center; align-items:center;">
        Aun no se han realizado entregas de tareas.
    </div>

}
<br />

<div style="align-content:center; align-items:center; text-align:center;">
    <a class="btn" style="color:white; background-color:#ff2f00;" href="/Profesor/Index">Regresar al inicio</a>
</div>