
@{
    ViewData["Title"] = "VerMaterialModulo";

}




<nav class="navbar  fixed-top navbar-expand navbar-dark row" style="background-color: black; box-sizing: content-box;">
    <div class="collapse navbar-collapse">

        <div class="col-lg-2" style="text-align:center">
            <a href="/Profesor/Index" class="nav-item active">
                <img src="~/images/logo blanco.png" alt="Logo ORACON" width="80px" height="65px" />
            </a>

        </div>
        <div class="col-lg-5" style="text-align:center">

            <div class="row">
                <div class="col-lg-3">
                    <a href="/Profesor/Index" style="color:white">CURSOS</a>

                </div>
                <div class="col-lg-3" style="text-align:center">

                </div>
                <div class="col-lg-3" style="text-align:center">

                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="row ">
                <div class="col-lg-7" style="color: white; align-items: center; align-content: center; text-align: center">
                    <label style="padding:0.2em; margin:0.2em;">Bienvenido, @ViewBag.ProfesorLogeado.nombres</label>
                </div>

                <div class="col-lg-5">
                    <form method="post" action="/Profesor/Logout">
                        <button class="btn" type="submit" style="color: white; background-color: #ff2f00;">CERRAR SESÍON</button>
                    </form>
                </div>

            </div>

        </div>


    </div>
</nav>


<h1 class="display-4" style="text-align:center;">Material de estudio</h1>
<br />
@if (TempData["AgregarRecurso"] != null)
{
    <div class="row alert alert-warning" style="margin:0;padding:0; text-align:center; align-items:center;">
        @TempData["AgregarRecurso"]
    </div>
}
<div class="container">
    <h2 class="display-5">Videos</h2>
    <a class="btn" style="background-color:#ff2f00; color:white;" href="/Profesor/AgregarVideoModulo?idModulo=@ViewBag.Modulo.idModulo">Agregar video</a>

</div>
@if (ViewBag.Videos.Count > 0)
{
    <div class="container">
        <table class="table">
            <thead style="background-color:black; color:white;">
                <tr>
                    <th>Titulo del video</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
            </thead>


            <tbody>
                @foreach (var video in ViewBag.Videos)
                {
                    <tr>
                        <td>@video.titulo</td>
                        <td>@video.descripcion</td>
                        <td>
                            <a href="@video.link" class="btn" style="background-color:#ff2f00; color:white" target="_blank">Ver Video</a>
                        </td>

                    </tr>
                }




            </tbody>
        </table>

    </div>


}
else
{
    <div class="container">
        <br />
        <div class="row alert alert-warning" style="margin:0;padding:0; text-align:center; align-items:center;">
            No se han registrado videos en este modulo.
        </div>
    </div>

}
<br />
<div class="container">
    <h2 class="display-5">Documentos</h2>
    <a class="btn" style="background-color:#ff2f00; color:white;" href="/Profesor/AgregarDocumentoModulo?idModulo=@ViewBag.Modulo.idModulo">Agregar documento</a>
</div>
@if (ViewBag.Documentos.Count > 0)
{
    <div class="container">
        <table class="table">
            <thead style="background-color:black; color: white;">
                <tr>
                    <th>Titulo del documento</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>

            </thead>


            <tbody>
                @foreach (var documento in ViewBag.Documentos)
                {
                    <tr>
                        <td>@documento.titulo</td>
                        <td>@documento.descripcion</td>
                        <td>
                            @Html.ActionLink("Descargar", "PDFDisplay", "Profesor", new { idDocumento = documento.idDocumento }, new { target = "_blank" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>


}
else
{
    <div class="container">
        <br />
        <div class="row alert alert-warning" style="margin:0;padding:0; text-align:center; align-items:center;">
            No se han registrado Documentos en este modulo.
        </div>
    </div>
}
<br />
<div class="container">
    <h2 class="display-5">Enlaces externos</h2>
    <a class="btn" style="background-color:#ff2f00; color:white;" href="/Profesor/AgregarEnlaceModulo?idModulo=@ViewBag.Modulo.idModulo">Agregar enlace externo</a>
</div>


@if (ViewBag.Enlaces.Count > 0)
{
    <div class="container">
        <table class="table">
            <thead style="background-color:black; color:white;">
                <tr>
                    <th>Titulo del enlace</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>

            </thead>


            <tbody>
                @foreach (var enlace in ViewBag.Enlaces)
                {
                    <tr>
                        <td>@enlace.titulo</td>
                        <td>@enlace.descripcion</td>
                        <td>
                            <a class="btn" style="background-color:#ff2f00; color:white;" href="@enlace.link" target="_blank">Ir a sitio externo</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="container">
        <br />
        <div class="row alert alert-warning" style="margin:0;padding:0; text-align:center; align-items:center;">
            No se han registrado enlaces en este modulo.
        </div>
    </div>
}

<br />
<div class="container">
    <h2 class="display-5">Tareas</h2>
    <a class="btn" style="background-color:#ff2f00; color:white;" href="/Profesor/AgregarTareaModulo?idModulo=@ViewBag.Modulo.idModulo">Agregar tarea</a>
</div>

@if (ViewBag.Tareas.Count > 0)
{
    <div class="container">
        <table class="table">
            <thead style="background-color:black; color:white;">
                <tr>
                    <th>Nombre de la tarea</th>
                    <th>Fecha limite</th>
                    <th>Fecha de creacion</th>
                    <th>instrucciones</th>
                    <th></th>
                </tr>

            </thead>


            <tbody>
                @foreach (var tarea in ViewBag.Tareas)
                {
                    <tr>
                        <td>@tarea.nombre</td>
                        <td>@tarea.fechaMaxima</td>
                        <td>@tarea.fechaCreacion</td>
                        <td>@tarea.instrucciones</td>
                        <td>

                            <a class="btn" style="background-color:#ff2f00; color:white;" href="/Profesor/VerEntregas?idTarea=@tarea.idTarea"> Ver entregas </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="container">
        <br />
        <div class="row alert alert-warning" style="margin:0;padding:0; text-align:center; align-items:center;">
            No se han registrado tareas en este modulo.
        </div>
    </div>
}
<br />
<br />
<div style="align-content:center; align-items:center; text-align:center;">
    <a class="btn" style="color:white; background-color:#ff2f00;" href="/Profesor/Index">Regresar al inicio</a>
</div>

